.btn-twitter {
    outline: none;
    box-shadow: none;
  }
  
  h1 {
    font-size: 30px;
    font-weight: 500;
  }
  
  div.modal-body h2 {
    line-height: 25px;
    margin: 0;
    padding: 0;
  }
  
  div.modal-header button {
    outline: none;
  }

  .close {
    border: none;
    background: none;
    font-size: 1rem; /* Adjust the size as needed */
    color: rgb(19, 117, 156); /* Your preferred color */
    opacity: 0.5; /* Adjust opacity as needed */
    cursor: pointer;
  }
  
  .close:hover {
    opacity: 1; /* Full opacity on hover */
  }

  .date{
    font-weight: 450;
    color: rgb(91, 87, 87);
  } 